body {
    font-family: Arial, sans-serif;
    background-color: rgb((219, 215, 215)84, 179, 179);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    border: black;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 300px rgba(0, 0, 0, 0.1);
}

.formulario {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}
.mostrar-senha {
    margin-top: 10px;
}

input, select {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 13px 90px;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.link-submit:hover {
    background-color: #45a049;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
